.dialog{
  position: fixed;
  margin: auto;

  z-index: 99999;

  gap: 2rem;

  background-color: var(--clr-background);
  color: var(--clr-text);

  border: none;
  border-radius: 0.3rem;

  filter: var(--drop-shadow-small);

  opacity: 0;
  translate: 0 -10%;

  transition:
    display var(--to-300ms)allow-discrete,
    overlay var(--to-300ms)allow-discrete, 
    translate var(--to-300ms)ease-out,
    opacity var(--to-300ms)ease-out;
}

.dialog[open]{
    display: grid;

    opacity: 1;
    translate: 0 0;

    @starting-style{
      opacity: 0;
      translate: 0 10%;
    }
}

.dialog__buttons{
    display: flex;
    margin-left: auto;
    gap: 1rem;

    flex-wrap: wrap;
}

.dialog::backdrop{
  background-color: rgba(from hex var(--clr-background), 0.5);
  backdrop-filter: blur(0px);

  transition:
    display var(--to-300ms)allow-discrete,
    overlay var(--to-300ms)allow-discrete, 
    backdrop-filter var(--to-300ms)ease-out;
}

.dialog[open]::backdrop {
  backdrop-filter: blur(5px);

  @starting-style{
      backdrop-filter: blur(0px);
  }
}
