.icon-text{
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 0.3rem;
}

.icon{
  width: 1em;
  height: auto;
  aspect-ratio: 1;
}


.ix--user {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M256 213.334c47.128 0 85.333-38.205 85.333-85.334c0-47.128-38.205-85.333-85.333-85.333S170.666 80.872 170.666 128s38.205 85.334 85.334 85.334m0-128c23.564 0 42.666 19.102 42.666 42.666S279.564 170.667 256 170.667S213.333 151.564 213.333 128S232.436 85.334 256 85.334M298.666 256h-85.333c-70.692 0-128 57.308-128 128v85.334h341.333V384c0-70.692-57.307-128-128-128M384 426.667H128V384c0-47.128 38.205-85.333 85.333-85.333h85.333C345.795 298.667 384 336.872 384 384z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--book {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M218.37 106.667L256 125.462l37.63-18.795h175.704v320H303.68L256 450.518l-47.7-23.851H42.667v-320zm-10.071 42.667H85.334V384H218.37l16.297 8.14V162.518zm218.368 0H303.68l-26.347 13.179V392.14l16.298-8.14h133.036zm-21.333 128v32H298.667v-32zm-192 0v32H106.667v-32zm192-85.334v32H298.667v-32zm-192 0v32H106.667v-32z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--id {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M426.667 128H85.333v256h341.334zm-384-42.667v341.334h426.666V85.333zm188.333 256V164.208h49q31.25 0 50 6q24.5 7.875 37.5 29.25q13 21.25 13 53.375q0 33-13 53.875q-16.25 26.375-50.25 32q-15.625 2.625-40 2.625zm39.875-31.25h7.625q27.25 0 40.375-8.875q11.5-7.625 16.625-23.625q3.75-11.874 3.75-25.25q0-14.374-4.375-26.625q-4.375-12.249-12-19.125q-7.25-6.5-16.5-8.75q-9.25-2.375-27.875-2.375h-7.625zM149 164.208v177.125h39.875V164.208z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--undo {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m196.508 272.915l-30.17 30.17L55.253 192L166.338 80.915l30.17 30.17l-59.613 59.624h172.758c75.694 0 137.4 60.95 138.627 136.356l.018 2.29c0 76.458-62.186 138.645-138.645 138.645h-74.88v-42.667h74.88c52.907 0 95.979-43.072 95.979-95.978c0-52.907-43.072-95.98-95.979-95.98H136.98z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--redo {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M345.752 80.915L456.837 192L345.752 303.085l-30.17-30.17l59.527-59.541H202.646c-52.917 0-95.98 43.063-95.98 95.98s43.063 95.98 95.98 95.98h74.896V448h-74.896C126.188 448 64 385.812 64 309.354s62.188-138.646 138.646-138.646h172.547l-59.611-59.623z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--trashcan {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M320 85.334H192V42.667h128zm-85.333 128H192V384h42.667zm85.333 0h-42.667V384H320zM448 128v42.667h-42.667v298.667H106.667V170.667H64V128zm-85.333 42.667H149.333v256h213.334z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--image {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M64 448V64h384v384zm109.227-198.4l-66.561 106.948v48.785h298.667v-33.92l-64-64l-65.493 65.494zm232.106-142.934H106.666v169.211l61.44-98.81l110.72 132.693l62.507-62.507l64 64zm-96 42.667c17.673 0 32 14.327 32 32s-14.327 32-32 32s-32-14.327-32-32s14.327-32 32-32'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--search {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M469.297 439.13L347.982 317.816C370.466 288.907 384 252.707 384 213.334c0-94.104-76.562-170.667-170.666-170.667S42.667 119.23 42.667 213.334S119.23 384 213.334 384c39.373 0 75.573-13.534 104.481-36.018l121.316 121.315zm-255.963-97.796c-70.584 0-128-57.417-128-128c0-70.584 57.416-128 128-128c70.583 0 128 57.416 128 128c0 70.583-57.417 128-128 128'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--eye {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M256 85.333C106.667 85.333 42.667 256 42.667 256s64 170.666 213.333 170.666C405.334 426.666 469.334 256 469.334 256S405.334 85.333 256 85.333M256 384c-94.261 0-148.596-91.304-166.62-127.994C107.453 219.222 161.783 128 256 128c94.262 0 148.597 91.303 166.621 127.992C404.55 292.777 350.22 384 256.001 384m0-202.667c-41.237 0-74.666 33.43-74.666 74.667s33.43 74.666 74.666 74.666c41.237 0 74.667-33.43 74.667-74.666c0-41.237-33.43-74.667-74.667-74.667M256 288c-17.644 0-32-14.356-32-32c0-17.645 14.356-32 32-32c17.645 0 32 14.355 32 32c0 17.644-14.355 32-32 32'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--eye-cancelled {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m89.752 59.582l138.656 138.656C236.763 194.239 246.12 192 256 192c35.346 0 64 28.654 64 64c0 9.881-2.239 19.239-6.237 27.594l138.656 138.655l-30.17 30.17l-59.207-59.208c-29.128 19.7-64.646 33.456-107.042 33.456C106.667 426.667 42.667 256 42.667 256s22.862-60.965 73.14-110.02L59.583 89.751zm56.355 116.695c-28.73 27.818-47.477 60.904-56.726 79.73C107.404 292.697 161.739 384 256 384c29.106 0 54.406-8.706 76.006-21.823l-48.414-48.414C275.238 317.761 265.881 320 256 320c-35.346 0-64-28.654-64-64c0-9.88 2.24-19.238 6.238-27.592ZM256 85.334C405.334 85.334 469.334 256 469.334 256s-14.239 37.97-44.955 78.09l-30.56-30.567c13.43-18.244 22.99-35.702 28.802-47.53C404.597 219.302 350.262 128 256.001 128c-11.838 0-23.046 1.44-33.631 4.031l-34.04-34.049c20.25-7.905 42.775-12.648 67.67-12.648'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--warning {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M278.313 48.296a42.67 42.67 0 0 1 15.876 15.876l182.478 319.336c11.691 20.46 4.583 46.523-15.876 58.214a42.67 42.67 0 0 1-21.169 5.622H74.667C51.103 447.344 32 428.24 32 404.677a42.67 42.67 0 0 1 5.622-21.169L220.099 64.172c11.691-20.459 37.755-27.567 58.214-15.876M257.144 85.34L74.667 404.677h364.955zM256 314.667c15.238 0 26.667 11.264 26.667 26.624S271.238 367.915 256 367.915c-15.584 0-26.667-11.264-26.667-26.965c0-15.019 11.429-26.283 26.667-26.283m21.333-165.333v128h-42.666v-128z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--warning-rhomb {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m286.17 45.049l180.78 180.78c16.663 16.663 16.663 43.678 0 60.34L286.17 466.95c-16.663 16.663-43.678 16.663-60.34 0L45.049 286.17c-16.663-16.663-16.663-43.678 0-60.34l180.78-180.781c16.663-16.663 43.678-16.663 60.34 0M256 75.219L75.219 255.999l180.78 180.781L436.78 256zm0 239.447c15.238 0 26.666 11.264 26.666 26.624S271.238 367.914 256 367.914c-15.585 0-26.667-11.264-26.667-26.965c0-15.019 11.428-26.283 26.667-26.283m21.333-165.333v128h-42.667v-128z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--info {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M256 42.667C138.18 42.667 42.667 138.179 42.667 256c0 117.82 95.513 213.334 213.333 213.334c117.822 0 213.334-95.513 213.334-213.334S373.822 42.667 256 42.667m0 384c-94.105 0-170.666-76.561-170.666-170.667S161.894 85.334 256 85.334c94.107 0 170.667 76.56 170.667 170.666S350.107 426.667 256 426.667m26.714-256c0 15.468-11.262 26.667-26.497 26.667c-15.851 0-26.837-11.2-26.837-26.963c0-15.15 11.283-26.37 26.837-26.37c15.235 0 26.497 11.22 26.497 26.666m-48 64h42.666v128h-42.666z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--location {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M256 42.667c82.475 0 149.334 66.859 149.334 149.333c0 24.937-6.095 48.433-16.916 69.108L256 490.667L126.65 266.676c-12.73-21.982-19.983-47.472-19.983-74.676c0-82.474 66.859-149.333 149.333-149.333m0 42.667c-58.91 0-106.666 47.756-106.666 106.666c0 16.94 3.908 33.194 11.303 47.867l3.584 6.546L256 405.333l92.427-160.04c9.293-16.046 14.239-34.235 14.239-53.293c0-58.91-47.756-106.666-106.667-106.666M256 128c35.347 0 64 28.654 64 64s-28.653 64-64 64c-35.346 0-64-28.653-64-64c0-35.346 28.654-64 64-64m0 42.667c-11.782 0-21.333 9.551-21.333 21.333s9.551 21.334 21.333 21.334s21.334-9.552 21.334-21.334s-9.552-21.333-21.334-21.333'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--clock {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M256 42.667c117.803 0 213.334 95.53 213.334 213.333S373.803 469.334 256 469.334S42.667 373.803 42.667 256S138.197 42.667 256 42.667m0 42.667c-94.1 0-170.666 76.565-170.666 170.666c0 94.102 76.565 170.667 170.666 170.667c94.102 0 170.667-76.565 170.667-170.667c0-94.101-76.565-170.666-170.667-170.666m21.334 64V268.48l57.751 57.769l-30.17 30.17l-70.248-70.249V149.334z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--add-circle {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M256 42.667A213.333 213.333 0 0 1 469.334 256c0 117.821-95.513 213.334-213.334 213.334c-117.82 0-213.333-95.513-213.333-213.334C42.667 138.18 138.18 42.667 256 42.667m0 42.667c-94.256 0-170.666 76.41-170.666 170.666c0 94.257 76.41 170.667 170.666 170.667A170.667 170.667 0 0 0 426.667 256c0-94.256-76.41-170.666-170.667-170.666m21.334 64l-.001 85.333h85.334v42.667l-85.334-.001v85.334h-42.666v-85.334h-85.333v-42.666h85.333v-85.333z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--edit-document {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M192 224L373.334 42.667l96 96L288 320h-96zm217.003-85.333l-35.669-35.67l-29.387 29.386l35.67 35.67zM234.667 241.664l79.111-79.111l35.669 35.67l-79.111 79.11h-35.669zm106.666 163.669V295.006L384 252.34V448H85.334V64H320l-42.667 42.667H128v298.666z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--add-document-note {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M426.666 320v64h64v42.667h-64v64H384v-64h-64V384h64v-64zM320 42.667l106.666 106.667v149.333h-42.667v-131.66l-81.672-81.673H128v341.333l170.666-.001V448h64v21.333H85.333V42.668zm-21.334 298.667V384H149.333v-42.666zM281.333 128l60 60l-132 132h-60v-60zm-38.696 83.932l-61.304 61.306V288h14.72l61.326-61.326zm38.685-38.684l-16.057 16.056l14.742 14.742l16.057-16.056z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--draw-circle-arc {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M256 469.333c-117.821 0-213.333-95.513-213.333-213.334c0-117.82 95.512-213.333 213.333-213.333v42.667c-94.257 0-170.667 76.41-170.667 170.666c0 94.257 76.41 170.667 170.667 170.667s170.667-76.41 170.667-170.667h42.666c0 117.821-95.512 213.334-213.333 213.334'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--single-check {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m396.117 94.833l35.5 23.667l-185.101 277.652L91.582 241.218l30.17-30.17l118.12 118.104z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--chevron-down-small {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m256 339.413l-121.813-121.6l30.293-30.293L256 279.253l91.52-91.733l30.294 30.293z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--chevron-up-small {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M347.52 324.48L256 232.747l-91.52 91.733l-30.293-30.293L256 172.587l121.814 121.6z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--disk {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m328.832 85.333l97.834 97.835v243.498H85.333V85.333zM298.666 320h-85.333v64.021h85.333zm-128-192H128v256h42.666V277.333h170.667V384H384V200.832l-42.667-42.646v76.48H170.666zm128 0h-85.333v64.021h85.333z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--link {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M341.334 234.667v42.666H170.667v-42.666zM234.667 341.333h-64c-47.053 0-85.333-38.28-85.333-85.333s38.28-85.333 85.333-85.333h64V128h-64c-70.693 0-128 57.307-128 128s57.307 128 128 128h64zM341.334 128h-64v42.667h64c47.053 0 85.333 38.28 85.333 85.333s-38.28 85.333-85.333 85.333h-64V384h64c70.692 0 128-57.307 128-128s-57.308-128-128-128'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--copy {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M426.666 128v320h-256V128zM384 170.667H213.333v234.667H384zm-64-128v42.667H128v256H85.333V42.667z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--github-logo {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M258.934 42.667c-119.59 0-216.267 97.239-216.267 217.538c0 96.161 61.944 177.559 147.877 206.369c10.744 2.166 14.68-4.681 14.68-10.44c0-5.043-.354-22.33-.354-40.341c-60.161 12.968-72.689-25.932-72.689-25.932c-9.668-25.212-23.993-31.691-23.993-31.691c-19.69-13.327 1.434-13.327 1.434-13.327c21.842 1.441 33.303 22.33 33.303 22.33c19.332 33.132 50.484 23.771 63.016 18.007c1.788-14.047 7.521-23.771 13.608-29.172c-47.982-5.043-98.466-23.771-98.466-107.33c0-23.771 8.588-43.219 22.196-58.344c-2.147-5.401-9.668-27.735 2.152-57.628c0 0 18.26-5.763 59.434 22.33a208.3 208.3 0 0 1 54.069-7.205c18.261 0 36.876 2.524 54.065 7.205c41.178-28.093 59.439-22.33 59.439-22.33c11.82 29.893 4.294 52.227 2.147 57.628c13.967 15.125 22.2 34.573 22.2 58.344c0 83.559-50.483 101.924-98.824 107.33c7.88 6.842 14.68 19.806 14.68 40.337c0 29.172-.355 52.584-.355 59.785c0 5.763 3.94 12.61 14.68 10.448c85.933-28.818 147.877-110.212 147.877-206.373c.355-120.299-96.677-217.538-215.909-217.538' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--filter {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M42.667 85.333L234.232 320h.435v149.333h42.667V320l192-234.667zm214.448 192h-2.636L132.575 128h246.722z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--add-filter {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M192 267.333v122h42.667v-122L384 85.333H42.667zM293.781 128H132.864l80.469 98.048zm132.885 192v64h64v42.667h-64v64H384v-64h-64V384h64v-64z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--clear-filter {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M192 389.333v-122l-149.334-182H384l-149.333 182v122zM132.864 128h160.917l-80.448 98.048zM448 373.333C448 414.571 414.57 448 373.333 448s-74.666-33.429-74.666-74.667s33.429-74.666 74.666-74.666S448 332.096 448 373.333m21.333 0c0 53.02-42.98 96-96 96c-53.019 0-96-42.98-96-96c0-53.019 42.981-96 96-96c53.02 0 96 42.981 96 96m-62.057-48.923l15.085 15.085l-33.944 33.944l33.953 33.954l-15.085 15.085l-33.953-33.954l-33.942 33.942l-15.085-15.085l33.942-33.942l-33.957-33.957l15.085-15.085l33.957 33.957z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--import {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M448 85.333V448H64V170.666h42.667v234.667h298.667V128H320V85.333zm-277.333 0c57.36 0 104.145 45.276 106.568 102.04l.099 4.627l-.001 76.485l48.916-48.904l30.17 30.17L256 350.17L155.582 249.75l30.17-30.17l48.915 48.904V192c0-34.084-26.644-61.945-60.24-63.892l-3.76-.108h-128V85.333z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--export {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M234.667 85.333V128h-128v277.333h298.666v-128H448V448H64V85.333zm143.085-36.418L478.17 149.333L377.752 249.752l-30.17-30.17l48.903-48.916h-55.152c-34.084 0-61.944 26.644-63.891 60.24l-.109 3.76v106.667h-42.666V234.667c0-57.36 45.276-104.146 102.04-106.569l4.626-.098l55.151-.001l-48.902-48.914z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--duplicate {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M448 149.333V448H149.333V149.333zM405.333 192H192v213.333h213.333zM320 234.667v42.666h42.667V320h-42.668l.001 42.667h-42.667v-42.668l-42.666.001v-42.667h42.666v-42.666zM362.667 64l-.001 64H320v-21.333H106.667V320H128v42.666H64V64z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--sun {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M277.333 405.333v85.333h-42.667v-85.333zm99.346-58.824l60.34 60.34l-30.17 30.17l-60.34-60.34zm-241.359 0l30.17 30.17l-60.34 60.34l-30.17-30.17zM256 139.353c64.422 0 116.647 52.224 116.647 116.647c0 64.422-52.225 116.647-116.647 116.647A116.427 116.427 0 0 1 139.352 256c0-64.423 52.225-116.647 116.648-116.647m0 42.666c-40.859 0-73.981 33.123-73.981 74.062a73.76 73.76 0 0 0 21.603 52.296c13.867 13.867 32.685 21.64 52.378 21.603c40.858 0 73.98-33.122 73.98-73.98s-33.122-73.98-73.98-73.98m234.666 52.647v42.667h-85.333v-42.667zm-384 0v42.667H21.333v-42.667zM105.15 74.98l60.34 60.34l-30.17 30.17l-60.34-60.34zm301.7 0l30.169 30.17l-60.34 60.34l-30.17-30.17zM277.332 21.333v85.333h-42.667V21.333z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--moon {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M298.667 85.333c17.379 0 34.319 2.567 50.467 7.578c-41.92 39.469-68.118 94.41-70.669 153.413c-2.852 65.958 24.061 128.872 70.65 172.77c-16.144 5.008-33.076 7.573-50.448 7.573C204.561 426.667 128 350.106 128 256S204.561 85.333 298.667 85.333m0-42.666C180.847 42.667 85.334 138.18 85.334 256s95.513 213.333 213.333 213.333c50.253 0 96.359-17.487 132.816-46.56c-67.601-28.707-113.751-96.907-110.392-174.606c3.12-72.153 48.091-132.441 110.399-158.936c-36.457-29.076-82.567-46.564-132.823-46.564'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.vscode-icons--file-type-svelte {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ff3e00' d='M26.47 5.7a8.973 8.973 0 0 0-11.793-2.454L7.96 7.4a7.46 7.46 0 0 0-3.481 5.009a7.7 7.7 0 0 0 .8 5.058a7.4 7.4 0 0 0-1.151 2.8a7.8 7.8 0 0 0 1.4 6.028a8.977 8.977 0 0 0 11.794 2.458L24.04 24.6a7.47 7.47 0 0 0 3.481-5.009a7.67 7.67 0 0 0-.8-5.062a7.35 7.35 0 0 0 1.152-2.8A7.8 7.8 0 0 0 26.47 5.7'/%3E%3Cpath fill='%23fff' d='M14.022 26.64A5.41 5.41 0 0 1 8.3 24.581a4.68 4.68 0 0 1-.848-3.625a4 4 0 0 1 .159-.61l.127-.375l.344.238a8.8 8.8 0 0 0 2.628 1.274l.245.073l-.025.237a1.44 1.44 0 0 0 .271.968a1.63 1.63 0 0 0 1.743.636a1.5 1.5 0 0 0 .411-.175l6.7-4.154a1.37 1.37 0 0 0 .633-.909a1.4 1.4 0 0 0-.244-1.091a1.63 1.63 0 0 0-1.726-.622a1.5 1.5 0 0 0-.413.176l-2.572 1.584a5 5 0 0 1-1.364.582a5.415 5.415 0 0 1-5.727-2.06a4.68 4.68 0 0 1-.831-3.628A4.5 4.5 0 0 1 9.9 10.09l6.708-4.154a5 5 0 0 1 1.364-.581A5.41 5.41 0 0 1 23.7 7.414a4.68 4.68 0 0 1 .848 3.625a4 4 0 0 1-.159.61l-.127.375l-.344-.237a8.7 8.7 0 0 0-2.628-1.274l-.245-.074l.025-.237a1.44 1.44 0 0 0-.272-.968a1.63 1.63 0 0 0-1.725-.622a1.5 1.5 0 0 0-.411.176l-6.722 4.14a1.35 1.35 0 0 0-.631.908a1.4 1.4 0 0 0 .244 1.092a1.63 1.63 0 0 0 1.726.621a1.5 1.5 0 0 0 .413-.175l2.562-1.585a4.9 4.9 0 0 1 1.364-.581a5.42 5.42 0 0 1 5.728 2.059a4.68 4.68 0 0 1 .843 3.625a4.5 4.5 0 0 1-2.089 3.013l-6.707 4.154a4.9 4.9 0 0 1-1.364.581'/%3E%3C/svg%3E");
}

.ix--arrow-left {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M405.32 234.672H188.347l70.25-70.25l-30.167-30.167l-121.75 121.75l121.75 121.74l30.167-30.167l-70.248-70.24H405.32z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ix--arrow-right {
   display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M106.68 277.328h216.973l-70.25 70.25l30.167 30.167l121.75-121.75l-121.75-121.74l-30.167 30.167l70.247 70.239H106.68z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
