.tooltip{
    background-color: var(--clr-text);
    color: var(--clr-background);

    font-size: var(--fs-small);
    font-family: Roboto, 'sans-serif';
    
    border-radius: 1rem;
    border-width: 0;

    filter: var(--drop-shadow-large);

    z-index: -1;
}

.tooltip__arrow{
    width: 1rem;
    height: 1rem;
    z-index: -1;
}

.tooltip__content{
    padding: 0.3rem;
    min-width: 3rem;
    text-align: center;
}

.tooltip-trigger--ful-size{
    width: 100%;
    height: 100%;
    display: grid;
}